*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

body{
    /* background-color: black; */
}

.nav_container
{
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    align-content: center;
    justify-content: space-between;
}

.navLogo
{
    height: 60px;
}

.searchBar
{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    height: 50px;
    width: 500px;
    border-bottom: 2px solid black;
}

.searchBar:hover
{
    border-bottom: 2px solid red;
}

.searchBar input
{
    width: 65%;
    height: 30px;
    border: 0;
    text-align: left;
    font-size: 1rem;
    background-color: transparent;
}

.searchBar input:focus
{
    outline: none;
}


.searchBar i
{
    font-size: 1.5rem;
    color: black;
}

.searchBar select
{
    background-color: transparent;
    border: 0;
    font-size: 0.8rem;
}

.linkContainer
{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.linkContainer a
{
    color: black;
    text-decoration: none;
}

.linkContainer p{
    display: inline;
    margin-right: 20px;
    font-size: 1rem;
}

.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 200vh;
    width: 100vw; */
    flex-wrap: wrap;
    /* gap: 1rem; */
}

.productCard{
    height: 30rem;
    width: 23rem;
    background-color: rgb(185, 247, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
    border-radius: 20px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.prodImg{
    height: 70%;
    width: auto;
}

.prodName{
    font-size: 2rem;
}


.btn {
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    /* height: 3rem;
    width: 9rem; */
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }